config==0.5.1
Flask==2.1.1
flask_login==0.6.0
flask_sqlalchemy==2.5.1
keras==2.8.0
matplotlib==3.5.1
mysql_connector_repackaged==0.3.1
numpy==1.22.3
pandas==1.4.2
scikit_learn==1.0.2
tensorflow==2.8.0
Werkzeug==2.1.1
